@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<nav data-mdb-sidenav-init
     id="full-screen-example"
     class="sidenav bg-light"
     data-mdb-color="dark"
     data-mdb-mode="side"
     data-mdb-hidden="false"
     data-mdb-scroll-container="#scrollContainer">
    <div class="mt-4">
        <div id="header-content" class="ps-3">
            <h4>
                <span style="white-space: nowrap;">KevDevTool</span>
            </h4>
            <p>info@kevin-johr.dev</p>
        </div>
        <hr class="mb-0" />
    </div>
    <div id="scrollContainer">
        <ul class="sidenav-menu">
            <li class="sidenav-item">
                <a class="sidenav-link" href="/">
                    <i class="fas fa-envelope fa-fw me-3"></i>Home
                </a>
            </li>
            <li class="sidenav-item">
                <a class="sidenav-link">
                    <i class="fas fa-address-book fa-fw me-3"></i>RabbitMQ
                </a>
                <ul class="sidenav-collapse">
                    <li class="sidenav-item">
                        <a class="sidenav-link">Test Tool</a>
                    </li>
                    <li class="sidenav-item">
                        <a class="sidenav-link">Documentation</a>
                    </li>
                </ul>
            </li>
        </ul>
        <hr class="m-0" />
        <ul class="sidenav-menu">
            <li class="sidenav-item">
                <a class="sidenav-link">
                    <i class="fas fa-cogs fa-fw me-3"></i>Impressum
                </a>
            </li>
        </ul>
    </div>
</nav>