<div data-mdb-alert-init
     class="alert fade"
     id="alert-error"
     role="alert"
     data-mdb-color="danger"
     data-mdb-position="top-right"
     data-mdb-stacking="true"
     data-mdb-width="535px"
     data-mdb-width="535px"
     data-mdb-append-to-body="true"
     data-mdb-hidden="true"
     data-mdb-autohide="true"
     data-mdb-delay="5000">
</div>