@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-3">Total Views: </div>
    <div class="col-4">
        <span id="totalViewsCount"></span>
    </div>
</div>
<div class="row">
    <div class="col-3">Current Online: </div>
<div class="col-4">
    <span id="currentViewsCount"></span>
</div>
</div

@section Scripts {
    <script src="~/js/signalR/ViewCount.js"></script>
}